extends layout

block body
  #welcome.jumbotron
    h3 Zoom REST API's - Tutoring Sytem Admin Panel

    <h4>	  &rAarr; &nbsp; &nbsp; <a href="/createUser">Create User</a>
    <h4>	  &rAarr; &nbsp; &nbsp; <a href="/autoUser">Auto-create User</a>
    <h4>	  &rAarr; &nbsp; &nbsp; <a href="/updateUser">Update User</a>
    <h4>	  &rAarr; &nbsp; &nbsp; <a href="/createMeeting">Create Meeting</a>
    <h4>	  &rAarr; &nbsp; &nbsp; <a href="/updateMeeting">Update Meeting</a>
    <h4>	  &rAarr; &nbsp; &nbsp; <a href="/ListMeeting">List Meetings</a>