extends layout
block body
  div
    #nav-container.col-lg-2
     include Mleftnavigation.jade
    #data-container.col-lg-30
      .well-nm
        .adduser.well-nm
          form.bs-example.form-horizontal(method='post', action='')
            fieldset
              legend  Update a Zoom Meeting
              .form-group
                label.col-lg-1.control-label(for='id') User Id
                .col-lg-18
                  input#xxx.form-control(name='id', type='text', value=id)
              .form-group
                label.col-lg-1.control-label(for='mId') Meeting id
                .col-lg-18
                  input#xxx.form-control(name='mId', type='text', value=mId)
              .form-group
                label.col-lg-1.control-label(for='type') Meeting Type
                .col-lg-18
                  input#xxx.form-control(name='type', type='numeric', value=type)
              .form-group
                .col-lg-10.col-lg-offset-4
                  input.btn.btn-success(type='submit', value='Submit')
